* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('assest/vozes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 26px;
    color: #efedf4;
    margin: 20px 0px;
}

main textarea {
    width: 400px;
    height: 200px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

main textarea::placeholder {
    color: #fff;
    font-size: 16px;
}

.row {
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

select {
    flex: 1;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    border-right: 20px solid transparent;
}

button {
    background: rgb(222, 148, 11);
    color: #fff;
    padding: 0px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
